.react-json-view {
    .element-div {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
    }
    .edit-icons-json {
        position: absolute;
        width: 100px;
        background: #f8f8f8;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
        display: block;
        z-index: 999;
    }
    .copy-icon {
        display: block;
        padding:8px 10px;
    }
    .mask-icon {
        display: block;
        padding: 10px;
        cursor: pointer;
    }
    .copy-text {
        padding-left: 21px;
    }
    .copy-to-clipboard-container {
        vertical-align: top;
        // display: none;
    }
    .vertical-align {
        display: inline-block;
    }
    .click-to-add {
        display: none;
    }
    .click-to-remove {
        display: none;
    }
    .click-to-edit {
        display: none;
    }

    .object-meta-data {
        .vertical-align {
            img {
                display: none;
            }
        }
        &:hover {
            .vertical-align {
                img {
                    display: block
                }
            }
        }
    }

    .variable-row{
        .vertical-align {
            img {
                display: none;
            }
        }
        &:hover {
            .vertical-align {
                img {
                    display: block
                }
            }
        }
    } 

    .object-key-val {
        &.active {
            span {
                &.string-value {
                    &:after {
                        content:"*****";
                    }
                    span {
                        &.string-val {
                            display: none;
                        }
                    }
                }
                // span {
                //     &.object-key {
                //         background: yellow;
                //     }
                // }
            }
            .variable-value {
                &:after {
                    content: "******";
                }
            }
            .variable-value div {
                display: none !important;
            }
        }
        &:hover > span > .object-meta-data {
            & > .copy-to-clipboard-container {
                display: inline-block;
            }
            & > .click-to-add {
                display: inline-block;
            }
            & > .click-to-remove {
                display: inline-block;
            }
        }
    }

    .variable-value {
        &.active {
            &:after {
                content: "******";
            }
             
            div {
                display: none !important;
            }
        }
        // &.active {
        //     div {
        //         background: yellow;
        //     }
        // }
    }

    .variable-row {
        &.active {
            span {
                &.string-value {
                    &:after {
                        content:"*****";
                    }
                    span {
                        &.string-val {
                            display: none;
                        }
                    }
                }
                // span {
                //     &.object-key {
                //         background: yellow;
                //     }
                // }
            }
        }
        &:hover {
            & .copy-to-clipboard-container {
                display: inline-block;
            }
        }
    }

    .object-content .variable-row {
        &:hover .click-to-remove {
            display: inline-block;
        }
        &:hover .click-to-edit {
            display: inline-block;
        }
    }
}
